#llar-login-page-gdpr {
  position: fixed;
  padding: 15px;
  background-color: rgba(#000,0.9);
  width: 100%;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .llar-login-page-gdpr__message {

  }

  .llar-login-page-gdpr__button {
    background-color: #0071a0;
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
}